extends _partials/_layout.pug

block content
  link(rel="stylesheet" href="/css/edittask.css")

  .container
    .row
      .col-xs-12
        .panel(class=task.completed ? "panel-success" : "panel-danger")
          .panel-heading #{task.completed ? "Complete!" : "💩 Incomplete 💩"}
          .panel-body
            .row
              .col-xs-12.col-md-6
                form(action="/tasks/edit/" + task.id, method="post")
                  .input-group
                    input(name="text", value=task.text).form-control
                    span.input-group-btn
                      button(type="submit").btn.btn-primary Save Changes
                  .slider-container
                    label.switch Completed
                      input(name="completed", type="checkbox", checked=task.completed)
                      .slider.round
                  .slider-container
                    label.switch Starred
                      input(name="starred", type="checkbox", checked=task.starred)
                      .slider.round
                  .input-group
                    input(type="date", name="assigned_time", value=task.assigned_time.format('YYYY-MM-DD')).form-control
            .row
              .col-xs-12
                form(action="/tasks/delete/" + task.id, method="post").pull-right
                  button(type="submit").btn.btn-danger Delete Task
                    i.fa.fa-trash
    .row
      .col-xs-12
        a(href=referer)
          button.btn.btn-default
            i.fa.fa-arrow-left &nbsp;
            span Back to Profile