extends _partials/_layout.pug

block content
  link(rel="stylesheet" href="css/profile.css")

  .jumbotron= user.email
    .progress-container
      .progress-bar
    .tasks #{tasks.filter(function(t){return t.completed}).length} / #{tasks.length}

  .container
    .row
      .col-xs-12.col-md-6
        form#newTask( action="/tasks/create", method="post")
              .input-group
                input(type="text", placeholder="Add Task", name="text", autofocus="true").form-control
                span.input-group-btn
                  input(type="submit" value="+").btn.btn-success
    .row
      .col-xs-12
        each day, dayIndex in ['M', 'T', 'W', 'TH', 'F', 'SAT', 'SUN']
          .col-sm-2.col-xs-12
              .text-center=day
              .card-holder(ondrop="dropContent(event)", ondragover="allowDrop(event)", data-column-id=dayIndex)
                each task, index in tasks
                  if task.day === dayIndex
                    if (!task.completed)
                      .card(ondragstart="dragStart(event)", draggable="true", data-info=index, data-id=task.id)
                        .card-text= task.text
                          button.card-success &#10004;
                          input(type="hidden", name="text", value=task.text)
                          input(type="checkbox", name="completed", style="display:none")
                        a(href="/tasks/edit/" + task.id)
                          button.card-primary  &#9998;
                        form(action="/tasks/delete/" + task.id, method="post")
                          button.card-danger(type="submit") &#10006;
                    else
                      .card.complete(ondragstart="dragStart(event)", draggable="true", data-info=index, data-id=task.id)
                        .card-text= task.text
                          button.card-success &#10004;
                          input(type="hidden", name="text", value=task.text)
                          input(type="checkbox", name="completed", checked, style="display:none")
                        a(href="/tasks/edit/" + task.id)
                          button.card-primary  &#9998;
                        form(action="/tasks/delete/" + task.id, method="post")
                          button.card-danger(type="submit") &#10006;

  script.
    // progress bar logic
    var progBar;

    setTimeout(function() {
      progBar = document.querySelector('.progress-bar')
      progBar.style.width = window.localStorage.getItem("ezTasksProgressBarWidth")

      var targetHue = (progBar.style.width * 100) * 1.2
      progBar.style.backgroundColor = "hsla( " + targetHue + ", 100%, 50%, 1)";

    }, 0)

    setTimeout(function() {
      var setWidth = #{tasks.filter(function(t){return t.completed}).length} / #{tasks.length};
      var setWidthString = '' + (setWidth * 100) + '%'
      var targetHue = (setWidth * 100) * 1.2

      progBar.style.transition="width, background-color, .5s cubic-bezier(1, 0.5, 0.5, 1)";
      progBar.style.width = setWidthString

      window.localStorage.setItem("ezTasksProgressBarWidth",  setWidthString)
      progBar.style.backgroundColor = "hsla( " + targetHue + ", 100%, 50%, 1)";

    }, 100)


  script(src="js/dropLogic.js")
